body {
  margin: 0;
  font-family: monospace;
}

.navbar {
  box-shadow: 1px 1px 5px lightblue;
  background-color: ff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 100px;
}

.navbar a {
  display: flex;
  color: white;
  padding: 19px 16px;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
  text-decoration-color: rgb(187, 187, 233);
  text-decoration-thickness: 2px;
}

.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-right: auto;
  padding-left: 80px;
}
