:root {
    background-color: #141414;
    color: rgba(255, 255, 255, 0.603);
}
.heading {
    color: rgb(177, 172, 172);
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}
.rectangles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 3rem 0;
    padding: 1rem 4rem 1rem 1rem;
}
.rectangle{
    width: 30%;
    background-color: rgb(75, 68, 68);
}
.rectangle i{
    font-size: 3rem;
    color: red;
    margin: 1rem 0;padding-left: 45%;
}
h4{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin: 1rem 0;
}
p{
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    margin: 1rem 0;
}
h1{
    padding-top: 5rem;
}